# Database
DB_HOST=localhost
DB_PORT=port_number
DB_NAME=justifai
DB_USER=username
DB_PASSWORD=change_me

# Spring
SERVER_PORT=port_number
APP_NAME=core-service

# PgAdmin
PGADMIN_EMAIL=email_id
PGADMIN_PASSWORD=change_me

# Python
ML_SERVICE_PORT=port_number

# Angular
ANGULAR_PORT=port_number

# Timezone
APP_TIMEZONE=Asia/Calcutta